<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header> 
            <a href="/">Home</a>
            <a href="/photo">Photos</a>
            <a href="/user">Users</a>
    </header>
    <h1>Create a New User</h1>
    <form action="/user" method=POST >
        Name: <input type="text" name="name">
        Username: <input type="text" name="username">
        Password: <input type="text" name="password">
        <input type="submit">
    </form>
</body>
</html>