<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header> 
       <a href="/">Home</a>
       <a href="/user/new">Create a new user</a></br>
       <a href="/photo/new">Create a new photo</a>
    </header>
    <h1>Here is <%= user.name %></h1>
    <h1><a href="/user">Return to Users</a></h1>
    <h1><a href="/photo">Return to Photos</a></h1>

    <h1><a href="/">Return Home</a></h1>

    <section> 
        <h3>Here are <%= user.name %>'s Photos</h3>
        <% for (let i = 0; i < user.photos.length; i++){ %> 
            <li><%= user.photos[i].img%></li>
       <% } %> 
        <a href="/user/<%=user.id%>/edit">Edit</a>
    </section>
</body>
</html>

