<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header> 
            <a href="/">Home</a>
            <a href="/photo">Photos</a>
            <a href="/user">Users</a>
    </header>
    <h1> Edit</h1>
    <form action="/photo/<%=photo._id%>?_method=PUT" method=POST >
        Image: <input type="text" name="img" value="<%=photo.img%>">
        Name: <input type="text" name="name" value ="<%=photo.name%>">
        Caption: <input type="text" name="caption" value="<%=photo.caption%>">
        <input type="submit" value='update'>
    </form>
</body>
</html>