<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<body>
    <header> 
            <a href="/">Home</a>
            <a href="/photo">Photos</a>
            <a href="/user">Users</a>
    </header>
<h1>Here are all the photos </h1>
<h1>
    <a href="/photo/new">Create a new photo</a>
</h1>
<% for (let i =0; i < photos.length; i++) { %>
    <li>
        <a href="/photo/<%=photos[i]._id%>"><%=photos[i].name%></a>
        <img src="<%=photos[i].img%>" alt="">

      </li>
      <form action="/photo/<%=photos[i]._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
<% } %>
</body>
</html>